.App{
    width:1500px;
    margin: auto;
}

.table {
    width: 1500px;
}

.arrowLeft{
    z-index: 2;
    position:absolute;
    right: 50px;
}

.arrowRight{
    z-index: 2;
    position:absolute;
    left: 1500px;
}